@model IEnumerable<VessaMVC.Models.Käyttäjät>

@{
    ViewData["Title"] = "Käyttäjät";
}

<h1>Käyttäjät</h1>

<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.KäyttäjäId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Nimimerkki)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Salasana)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Sähköposti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.KäyttäjäId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Nimimerkki)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Salasana)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Sähköposti)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        </tr>
}
    </tbody>
</table>
