@model VessaMVC.Models.Wct

@{
    ViewData["Title"] = $"Lisätiedot {Model.Nimi}";
}

<h1>Lisätiedot</h1>

<hr />
<div>

    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nimi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Katuosoite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Katuosoite)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Postinro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Postinro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kaupunki)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kaupunki)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ilmainen)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Ilmainen == true)
            {

                <input type="radio" checked="checked" disabled="disabled" class="mr-1"><text>Kyllä</text>
                <input type="radio" disabled="disabled" class="mx-1"><text>Ei</text>
            }
            else
            {
                <input type="radio" disabled="disabled" class="mr-1"><text>Kyllä</text>
                <input type="radio" checked="checked" disabled="disabled" class="mx-1"><text>Ei</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Unisex)
        </dt>
        <dd class="col-sm-10">

            @if (Model.Unisex == true)
            {
                <input type="radio" checked="checked" disabled="disabled" class="mr-1"><text>Kyllä</text>
                <input type="radio" disabled="disabled" class="mx-1"><text>Ei</text>
            }
            else
            {
                <input type="radio" disabled="disabled" class="mr-1"><text>Kyllä</text>
                <input type="radio" checked="checked" disabled="disabled" class="mx-1"><text>Ei</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Saavutettava)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Saavutettava == null)
            {
                <text>Ei tiedossa.</text>
            }
            else if (Model.Saavutettava == true)
            {
                <input type="radio" checked="checked" disabled="disabled" class="mr-1"><text>Kyllä</text>
                <input type="radio" disabled="disabled" class="mx-1"><text>Ei</text>
            }
            else
            {
                <input type="radio" disabled="disabled" class="mr-1"><text>Kyllä</text>
                <input type="radio" checked="checked" disabled="disabled" class="mx-1"><text>Ei</text>
            }


        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Aukioloajat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Aukioloajat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Koodi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Koodi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ohjeet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ohjeet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lisätty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lisätty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Muokattu)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Muokattu)
        </dd>
    </dl>
</div>
<div>

    @*@Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })*@
    @if (ViewBag.k.Count != 0)
    {
        <h3>Kommentit:</h3>
        @foreach (var item in ViewBag.k)
        {
            <ul>
                <li>Kommentti: @item.Sisältö</li>
                <li>
                    Arvio: @for (int i = 0; i < @item.Arvio; i++)
                    {
                        <nobr>&#9733;</nobr>
                    }
                </li>
                <li>Lisätty: @item.Lisätty</li>

            </ul>
            <p></p>
        }
    }
    else
    {
        <h3>Yhtään kommenttia ei ole lisätty.</h3>
    }
</div>
<div>
    @Html.ActionLink("Kommentoi", "LisaaKommenttia", new { id = Model.WcId }, new {@class="btn btn-primary"})
    @Html.ActionLink("Muokkaa", "Edit", new { id = Model.WcId }, new {@class="btn btn-primary"}) 
    @*@Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })*@
    <input type="button" value="Takaisin" class="btn btn-primary" onclick="window.history.back()" />
</div>


