@model VessaMVC.Models.Wct

@{
    ViewData["Title"] = "Muokkaa vessan tietoja";
}

<h1>Muokkaa vessan tietoja</h1>



@using (Html.BeginForm("Edit", "Vessa", FormMethod.Post))
{

    <hr />
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="WcId" value="@Model.WcId" />
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>*
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Katuosoite" class="control-label"></label>*
                <input asp-for="Katuosoite" class="form-control" />
                <span asp-validation-for="Katuosoite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postinro" class="control-label"></label>*
                <input asp-for="Postinro" class="form-control" />
                <span asp-validation-for="Postinro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kaupunki" class="control-label"></label>*
                <input asp-for="Kaupunki" class="form-control" />
                <span asp-validation-for="Kaupunki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ilmainen" class="control-label"></label>*<br />
                @Html.RadioButtonFor(m => m.Ilmainen, true) Kyllä
                @Html.RadioButtonFor(m => m.Ilmainen, false) Ei
                <span asp-validation-for="Ilmainen" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Unisex" class="control-label"></label><br />
                @Html.RadioButtonFor(m => m.Unisex, true) Kyllä
                @Html.RadioButtonFor(m => m.Unisex, false) Ei
                <span asp-validation-for="Unisex" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Saavutettava" class="control-label"></label><br />
                @Html.RadioButtonFor(m => m.Saavutettava, true) Kyllä
                @Html.RadioButtonFor(m => m.Saavutettava, false) Ei
                <span asp-validation-for="Saavutettava" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aukioloajat" class="control-label"></label>
                <input asp-for="Aukioloajat" class="form-control" />
                <span asp-validation-for="Aukioloajat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koodi" class="control-label"></label>
                <input asp-for="Koodi" class="form-control" />
                <span asp-validation-for="Koodi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ohjeet" class="control-label"></label>
                <input asp-for="Ohjeet" class="form-control" />
                <span asp-validation-for="Ohjeet" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Lisätty" class="control-label"></label>
                    <input asp-for="Lisätty" class="form-control" />
                    <span asp-validation-for="Lisätty" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Muokattu" class="control-label"></label>
                    <input asp-for="Muokattu" class="form-control" />
                    <span asp-validation-for="Muokattu" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="KäyttäjäId" class="control-label"></label>
                    <input asp-for="KäyttäjäId" class="form-control" />
                    <span asp-validation-for="KäyttäjäId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" name="Put" value="Tallenna" class="btn btn-primary" />
                <input type="button" value="Takaisin" class="btn btn-primary" onclick="window.history.back()" />
            </div>
            <p class="text-primary"><small>* pakollinen kenttä</small></p>
        </div>
    </div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
