@model IEnumerable<VessaMVC.Models.Wct>

@{
    ViewData["Title"] = "näytä";
}

<h1>Kaikki vessat</h1>

<p>
   
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kaupunki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Katuosoite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Postinro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unisex)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Saavutettava)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ilmainen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aukioloajat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Koodi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ohjeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lisätty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Muokattu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KäyttäjäId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WcId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kaupunki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Katuosoite)
            </td>
           
            <td>
                <dd class="col-sm-10">
                  

                    @if (item.Unisex == null)
                    {
                        <text>Ei tiedossa.</text>
                    }
                    else if (item.Unisex == true)
                    {
                        <input type="radio" checked="checked" disabled="disabled"><text>Kyllä</text>
                        <input type="radio" disabled="disabled"><text>Ei</text>
                    }
                    else
                    {
                        <input type="radio" disabled="disabled"><text>Kyllä</text>
                        <input type="radio" checked="checked" disabled="disabled"><text>Ei</text>
                    }
                </dd>

            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Saavutettava)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilmainen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aukioloajat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Koodi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ohjeet)*@
           
            <td>
                @Html.ActionLink("Muokkaa", "Edit", new { id=item.WcId }) |
                @Html.ActionLink("Lisätiedot", "Details", new { id=item.WcId}) |
             
            </td>
        </tr>
}
    </tbody>
</table>
